<p id="notice"><%= notice %></p>
<div class="container">
<h1>Inventario:</h1>

<div class="row">
  <% @inventory.line_items.each do |x| %>
                    <div class="col-sm-4 col-lg-4 col-md-4 ">
                        <div class="thumbnail thumbnail2 marginItem2">
                          <%= image_tag(x.item.img) %>
                            <div class="caption">
                                <h4 class="pull-right">Preço: <%= x.item.price %></h4>
                                <h4><%= x.item.name %>
                                </h4>
                                <p></p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                                  
                            </div>
                            <div class="btn-group col-sm-12">
                                  <% if (x.item.img == @character.helmet || x.item.img == @character.armor || x.item.img == @character.weapon || x.item.img == @character.shield) %>
                                  <%= button_to 'Desequipar', {:controller => "characters", :action => "removeItem", :part => x.item.part} , :method=>:post, class: "btn btn-warning" %>
                                  <% else %>
                                  <%= button_to 'Equipar', {:controller => "characters", :action => "addItem", :name => x.item.name,:item_img => x.item.img, :part => x.item.part} , :method=>:post,  class: "btn btn-primary pull-left" %>
                                  <%= button_to 'Vender', x, method: :delete, class: "btn btn-success pull-right", data: { confirm: 'Tem certeza que deseja vender?' } %>
                                  <% end %>
                            </div>
                        </div>

                    </div>
  <% end %>
                </div>

                <!-- Split button -->
