<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @drag_drop.lesson %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @drag_drop.statement %>
</p>

<p>
  <strong>A:</strong>
  <%= @drag_drop.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @drag_drop.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @drag_drop.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @drag_drop.d %>
</p>

<p>
  <strong>Atitle:</strong>
  <%= @drag_drop.atitle %>
</p>

<p>
  <strong>Btitle:</strong>
  <%= @drag_drop.btitle %>
</p>

<p>
  <strong>Ctitle:</strong>
  <%= @drag_drop.ctitle %>
</p>

<p>
  <strong>Dtitle:</strong>
  <%= @drag_drop.dtitle %>
</p>

<%= link_to 'Edit', edit_drag_drop_path(@drag_drop) %> |
<%= link_to 'Back', drag_drops_path %>
